<!-- <div style="height: 700px;" class="bg-warning">
    <input #first [(ngModel)]="val" (keyup.enter)="onKeyUP2(first.value)">
    <p>{{val}}</p>
</div>

<div>
    <input #firstName (keydown)="onChange(firstName.value)">
    <p>{{name}}</p>
</div> -->

<!-- <div>
    <i class="bi" [class.bi-heart]="enable" [class.bi-heart-fill]="!enable"
        (click)="change()">
    </i>
</div> -->
<!-- <div>
    <p>{{info.hiringDate | date:format}}</p>
    <button class="btn btn-primary" (click)="changeFormate()">toggle
        formate</button>
</div>

<p>{{title | summary: 10}}</p> -->
