<!-- <div style="height: 700px;" class="bg-warning">
    <input #first [(ngModel)]="val" (keyup.enter)="onKeyUP2(first.value)">
    <p>{{val}}</p>
</div>

<div>
    <input #firstName (keydown)="onChange(firstName.value)">
    <p>{{name}}</p>
</div> -->

<!-- <div>
    <i class="bi" [class.bi-heart]="enable" [class.bi-heart-fill]="!enable"
        (click)="change()">
    </i>
</div> -->
<!-- <div>
    <p>{{info.hiringDate | date:format}}</p>
    <button class="btn btn-primary" (click)="changeFormate()">toggle
        formate</button>
</div>

<p>{{title | summary: 10}}</p> -->
<app-test>
    <ng-container class="head">this is my Header</ng-container>
    <div class="body">this is my Body</div>
</app-test>


<!-- ngFor grouping -->
<ul *ngFor='let people of peopleInformation'>
    <li>{{people.country}}
        <ul>
            <li *ngFor="let name of people.names">
                {{name}}
            </li>
        </ul>
    </li>
</ul>


<input [(ngModel)]="value">
<button class="btn btn-primary" (click)="addItem()">Add new Course</button>
<button mat-raised-button color="primary">Primary</button>
<ul>
    <li *ngFor="let course of courses; let i = index">
        <button (click)="removeItem(i)" class="btn btn-danger">Remove</button>
        {{course}}
    </li>
</ul>

<button class="btn btn-success" (click)='changeColor()'>change Color and
    background</button>
<ul class="ul">
    <li [ngStyle]='{backgroundColor : colored === false ? "yellow" : "red"}'
        [ngClass]='{red : colored === true }' *ngFor="let word of words">
        {{word}}
    </li>
</ul>
