<div class="row py-5">
    <div class="text-center">
        <h2 class="h2 text-muted text-center">Wild Birds</h2>
        <span class="line"></span>
    </div>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            Add New Bird
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add
                            Animal
                        </h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control my-2" type="text"
                            placeholder="Animal Name" [(ngModel)]="name">
                        <input class="form-control" type="text"
                            placeholder="Image URL" [(ngModel)]="image">
                        <input class="form-control my-2" type="text"
                            placeholder="Animal Description"
                            [(ngModel)]="description">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary"
                            (click)="addNewBird()">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngFor="let bird of birds; let i = index"
        class="col-sm-12 col-md-6 col-lg-4">
        <app-card (delete)="deleteBird(i)" [name]="bird.name" [image]="bird.img"
            [description]='bird.description'></app-card>
    </div>
</div>
